@import "../../styles/variables.module.scss";

.item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  width: 180px;
  height: 329px;
}

.item__image {
  border-radius: 6px;
  cursor: pointer;
  width: 180px;
  height: 260px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    filter: grayscale(0.2);
  }
}

.item__name {
  @include regular14;
  color: white;
  margin: 0;
  height: 33px;
}

.item__info {
  @include regular14;
  margin: 0;
  color: $color-gray;
}