@import '../../styles/variables.module.scss';

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: $color-dark-purple;
}

.burgerMenu {
  display: none;
}

.logo {
  display: flex;
  height: 29px;
  cursor: pointer;
}

.navMenu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 35px;
  width: 412px;
  height: 16px;
}

.navMenuItem {
  @include regular14;
  color: white;

  &:hover,
  &:active {
    color: $color-button-pink-hover;
  }
}

.loginButton {
  @include pinkButton;
  width: 73px;
  height: 32px;
  padding: 8px 15px;
}


.cartOrLoginWindow {
  position: fixed;
  top: 70px;
  right: 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
  background-color: white;
}

@media screen and (max-width: 1439.5px) {
  .headerContainer {
    padding: 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .headerContainer {
    width: 100%;
    padding: 0 20px;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
  }

  .logo {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  .sidebarWrapper {
    position: absolute;
    left: 0;
    top: 85px;
    width: fit-content;
    height: fit-content;
  }

  .burgerMenu {
    display: flex;
    height: 60px;
    width: 30px;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20px;

    svg {
      color: white;

      &:hover {
        color: $color-gray;
      }
    }
  }

  .navMenu {
    display: none;
  }
}
