@import '../../styles/variables.module.scss';

.container {
  margin: 40px auto 80px auto;
  max-width: 1180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.moviesBlock {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.moviesList {
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1439.5px) {
  .container {
    padding: 0 20px;
  }
}
