@import '../../styles/variables.module.scss';

.container {
  margin-top: 40px;
  height: 364px;
  width: 100vw;
  max-width: 100%;
  padding: 40px 130px;
  background-color: $color-dark-purple-2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.donate__image {
  min-width: 480px;
  min-height: 284px;
  border-radius: 5px;
  display: flex;

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }
}

.donate__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 480px;

  h2 {
    @include semiBold28;
    margin: 0;
  }

  p {
    @include regular16;
    color: white;
    margin: 0;
  }

  .donate__button {
    @include regular14;
    @include pinkButton;
    padding: 15px 45px;
    width: 168px;
    height: 46px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 40px 20px;
  }

  .donate {
    max-width: 960px;
  }

  .donate__info {
    width: 460px;
  }
}

@media screen and (max-width: 1000px) {
  .donate {
    max-width: 728px;
  }

  .donate__image {
    min-width: 344px;
    min-height: 284px;
  }

  .donate__info {
    width: 364px;
  }
}

@media screen and (max-width: 767.5px) {
  .container {
    height: fit-content;
  }
  .donate {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .donate__image {
    min-width: 100%;
    min-height: auto;

    img {
      min-width: 100%;
    }
  }

  .donate__info {
    width: 100%;
    max-width: 440px;
  }
}
